.box1 {
    background-color: lightskyblue;
    border: 5px solid black;
    text-align: justify;
    height: 70px;
    padding: 7px;
    margin: 5px;
    width: 20%;
    float: left;
}
.box2 {
    background-color: lightyellow;
    border: 5px solid black;
    text-align: justify;
    height: 70px;
    padding: 7px;
    margin: 5px;
    width: 75%;
    float: left;
}
.box3 {
    background-color: lightgray;
    border: 5px solid black;
    text-align: justify;
    height: 500px;
    padding: 7px;
    margin: 5px;
    width: 20%;
    float: left;
}
.box4 {
    background-color: plum;
    border: 5px solid black;
    text-align: justify;
    height: 500px;
    padding: 7px;
    margin: 5px;
    width: 53%;
    float: left;
}
.box5 {
    background-color: pink;
    border: 5px solid black;
    text-align: justify;
    height: 500px;
    padding: 7px;
    margin: 5px;
    width: 20%;
    float: left;
}
.box6 {
    background-color: lightgreen;
    border: 5px solid black;
    text-align: justify;
    height: 50px;
    padding: 7px;
    margin: 5px;
    width: 97.5%;
    float: left;
}